body,
html,
canvas#canvas,
#game-screen {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#controls {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50vmin;
    height: 30vmin;
    margin: 0;
}

@media (hover: hover) {
    #controls {
        display: none;
    }
}

#controls circle {
    fill: var(--theme-color-front-50);
    transition: 0.2s all;
}

#controls .left,
#controls .right,
#controls .up,
#controls .down {
    fill: var(--theme-color-back);
    stroke: var(--theme-color-back);
    opacity: 0.4;
    transition: 0.2s all;
}

#controls.left .left,
#controls.right .right,
#controls.up .up,
#controls.down .down {
    opacity: 1;
}

#hall-of-fame {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: var(--theme-color-back);
    color: var(--theme-color-front);
    pointer-events: all;
}

#hall-of-fame > div {
    flex: 1 1 50%;
    display: grid;
    place-items: center;
}

#scores {
    background: var(--theme-color-front);
    color: var(--theme-color-back);
    padding: 0.5em 1em;
    border-radius: 0.125em;
    box-shadow: 0 0.25em 0.5em var(--theme-color-front);
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.25em 1em;
    font-size: 90%;
}

p {
    text-align: center;
}

@media (orientation: portrait) {
    #hall-of-fame {
        flex-direction: column;
    }
}

body.play #hall-of-fame {
    pointer-events: none;
    display: none;
}

button {
    color: var(--theme-color-front);
    font: inherit;
    font-variant: small-caps;
    font-weight: bolder;
    padding: 1em;
    border-radius: 1em;
    border: 0.25em solid var(--theme-color-front-50);
    background: none;
    transition: 0.2s all;
    cursor: pointer;
}

button:hover,
button:active {
    border: 0.25em solid var(--theme-color-front-90);
    background: var(--theme-color-front-10);
}
