body,
html,
canvas#canvas,
#game-screen {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#controls-h {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50vmin;
    height: 30vmin;
    margin: 0;
}

#controls-v {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50vmin;
    height: 30vmin;
    margin: 0;
}

@media (hover: hover) {
    #controls-h,
    #controls-v {
        display: none;
    }
}

#controls-h circle,
#controls-v circle {
    fill: var(--theme-color-front-50);
    transition: 0.2s all;
}

#controls-h .left,
#controls-h .right,
#controls-v .up,
#controls-v .down {
    fill: var(--theme-color-back);
    stroke: var(--theme-color-back);
    opacity: 0.7;
    transition: 0.2s all;
}

#controls-h .left.selected,
#controls-h .right.selected,
#controls-v .up.selected,
#controls-v .down.selected {
    opacity: 1;
    stroke: var(--theme-color-front);
}

#pages,
#pages > div {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    visibility: hidden;
    pointer-events: none;
}

#pages > div.show {
    visibility: visible;
    pointer-events: all;
}

#hall-of-fame {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: var(--theme-color-back);
    color: var(--theme-color-front);
    pointer-events: all;
}

#hall-of-fame > div {
    flex: 1 1 50%;
    display: grid;
    place-items: center;
}

#scores {
    background: var(--theme-color-front);
    color: var(--theme-color-back);
    padding: 0.5em 1em;
    border-radius: 0.125em;
    box-shadow: 0 0.25em 0.5em var(--theme-color-front);
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.25em 1em;
    font-size: 90%;
}

#game-over {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#game-over > div {
    font-size: 300%;
    color: var(--theme-color-front);
    text-shadow: 0.04em 0.04em var(--theme-color-back);
}

p {
    text-align: center;
}

@media (orientation: portrait) {
    #hall-of-fame {
        flex-direction: column;
    }
}

button {
    color: var(--theme-color-front);
    font: inherit;
    font-variant: small-caps;
    font-weight: bolder;
    padding: 1em;
    border-radius: 1em;
    border: 0.25em solid var(--theme-color-front-50);
    background: var(--theme-color-back);
    transition: 0.2s all;
    cursor: pointer;
}

button:hover,
button:active {
    border: 0.25em solid var(--theme-color-front-90);
    background: var(--theme-color-front-10);
}
