body,
html,
canvas#canvas {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
}

#controls {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50vmin;
    height: 50vmin;
    margin: 0 -25vmin;
}

#controls .left,
#controls .right,
#controls .up,
#controls .down {
    opacity: 0.4;
    transition: 0.2s opacity;
}

@media (orientation: landscape) {
    #controls {
        bottom: 0;
        left: 0;
        width: 50vmin;
        height: 50vmin;
        margin: 0;
    }
}
